@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.info-main {
  display: flex;
  justify-content: space-between;
}

.basic-info {
  width: 57%;
  border: 1px #f7f7f7 solid;
  border-radius: 10px;
}

.info-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.info-header-avator {
  padding-right: 10px;
  width: 20%;
}

.info-header-basic {
  width: 70%;
}

.info-header-editor {
  width: 10%;
}

.other-info {
  line-height: 30px;
}

.other-info div {
  font-size: 16px;
  line-height: 40px;
}

.other-info div span {
  font-weight: 700;
  color: #000;
}

.info-pie {
  width: 41%;
  border-radius: 10px;
  border: 1px #f7f7f7 solid;
}

.line-chart {
  border: 1px #f7f7f7 solid;
  margin-top: 20px;
}

.card-status {
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.projectList {
  :global {
    .ant-card-meta-description {
      color: @text-color-secondary;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }
  .cardTitle {
    font-size: 0;
    a {
      color: @heading-color;
      margin-left: 12px;
      line-height: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: top;
      font-size: @font-size-base;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .projectGrid {
    width: 33.33%;
  }
  .projectItemContent {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    .textOverflow();
    a {
      color: @text-color-secondary;
      display: inline-block;
      flex: 1 1 0;
      .textOverflow();
      &:hover {
        color: @primary-color;
      }
    }
    .datetime {
      color: @disabled-color;
      flex: 0 0 auto;
      float: right;
    }
  }
}

.datetime {
  color: @disabled-color;
}

//.collection-content {
//  overflow : hidden;
//  text-overflow: ellipsis;
//  display: -webkit-box;
//  -webkit-box-orient: vertical;
//  -webkit-line-clamp: 3;
//}

.collection-content {
  position:relative;
  line-height:1.5em;
  /* 高度为需要显示的行数*行高，比如这里我们显示两行，则为3 */
  height:4.5em;
  overflow:hidden;
}
.collection-content:after {
  content:"...";
  position:absolute;
  bottom:0;
  right:0;
  padding-left: 5px;
  background-color: #fff;
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .extraContent {
    margin-left: -44px;
    .statItem {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .extraContent {
    float: none;
    margin-right: 0;
    .statItem {
      padding: 0 16px;
      text-align: left;
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .extraContent {
    margin-left: -16px;
  }
  .projectList {
    .projectGrid {
      width: 50%;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    display: block;
    .content {
      margin-left: 0;
    }
  }
  .extraContent {
    .statItem {
      float: none;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .projectList {
    .projectGrid {
      width: 100%;
    }
  }
}

