.info-main {
  display: flex;
  justify-content: space-between;
}

.basic-info {
  width: 57%;
  border: 1px #f7f7f7 solid;
  border-radius: 10px;
}

.info-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.info-header-avator {
  padding-right: 10px;
  width: 20%;
}

.info-header-basic {
  width: 70%;
}

.info-header-editor {
  width: 10%;
}

.other-info {
  line-height: 30px;
}

.other-info div {
  font-size: 16px;
  line-height: 40px;
}

.other-info div span {
  font-weight: 700;
  color: #000;
}

.info-pie {
  width: 41%;
  border-radius: 10px;
  border: 1px #f7f7f7 solid;
}

.line-chart {
  border: 1px #f7f7f7 solid;
  margin-top: 20px;
}
